button{
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:hover {
    box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
    transform: scale(1.03);
}

button:active {
    box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
    transform: scale(.98);
}

button:focus {
    outline: none;
}

button:disabled {
    cursor:not-allowed
}

.link-decoration{
    text-decoration: none;
}