.header-crud-btn{
    display: flex;
    flex-direction: row;
    height: 3rem;
    width: 90%;
    justify-content: flex-end;
    margin-bottom: 2rem;
}

.btn-agregar{
    font-family: "Inter";
    width: 20%;
    border: none;
    background-color: var(--p1000);
    font-weight: 700;
    border-radius: 15px;
    color: var(--blanco);
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
    text-align: center;
}