.headerFormLaboratorio {
    display: flex;
}

.pageFormularioLab {
    background-color: #F8F8F8;
}

.fechaFormularioLab {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.divFechaEspacio {
    width: 10px;
}

.fechaFormLab {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.lineaFechaFL {
    background-color: #FAD3BA;
    height: 5px;
    width: 50%;
}

.iconFecha {
    color: #EF7B30;
}

.pageFormularioLab {
    display: flex;
}

.bandaDerecha {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #FBE2D1;
    width: 10vw;
}

.imagenPatron {
    width: 103px;
    height: 100%;
}

.divFormulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: -webkit-center;
    justify-content: center;
    background-color: #F8F8F8;
    border-color: #E6E5E5;
    border-radius: 10px;
    border-width: 4px;
    width: 90vw;
}

.formularioContenedor {
    width: 87%;
    background-color: #fff;
    padding-top: 10px;
    border-left: #DFE0EB 2px solid;
    border-right: #DFE0EB 2px solid;
    border-bottom: #DFE0EB 2px solid;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.inputsContenedor {
    display: flex;
    width: 87%;
    height: 100px;
    justify-content: space-around;
    font-weight: bold;
    align-items: center;
    background-color: #fff;
    border-top: #DFE0EB 2px solid;
    border-left: #DFE0EB 2px solid;
    border-right: #DFE0EB 2px solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.inputsContenedor p {
    font-size: 1.4rem;
    padding-left: 50px;
}

.setOfInputs {
    display: flex;
    width: 83%;
    justify-content: space-around;
    padding-right: 40px;
}

.stripBotones {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 70%;
}

.stripBotones button {
    height: 5vh;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: transparent;
}

.separatorButton {
    width: 10px;
}

.guardarProgreso {
    background-color: var(--p800);
}

.enviar {
    background-color: var(--p1000);
}