.headerFormLaboratorio {
    display: flex;
}

.pageFormularioLab {
    background-color: #F8F8F8;
}

.fechaFormularioLab {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-align: center;
}

.divFechaEspacio {
    width: 10px;
}

.fechaFormLab {
    display: flex;
    max-width: 15rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.lineaFechaFL {
    background-color: #FAD3BA;
    height: 5px;
    width: 100%;
}

.iconFecha {
    color: #EF7B30;
}

.pageFormularioLab {
    display: flex;
}

.bandaDerecha {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #FBE2D1;
    width: 160px;
}

.imagenPatron {
    width: 103px;
    height: 100%;
}

.divFormulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: -webkit-center;
    justify-content: center;
    background-color: #F8F8F8;
    border-color: #E6E5E5;
    border-radius: 10px;
    border-width: 4px;
    width: 100%;
}

.formularioContenedor1 {
    width: 87%;
    background-color: #fff;
    padding-top: 10px;
    border-left: #DFE0EB 2px solid;
    border-right: #DFE0EB 2px solid;
    border-bottom: #DFE0EB 2px solid !important;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    
}

.formularioContenedor {
    width: 87%;
    background-color: #fff;
    padding-top: 10px;
    border-left: #DFE0EB 2px solid;
    border-right: #DFE0EB 2px solid;
    border-bottom: transparent 0px solid !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.formularioContenedor2 {
    width: 87%;
    background-color: #fff;
    padding-top: 10px;
    border-left: #DFE0EB 2px solid;
    border-right: #DFE0EB 2px solid;
    border-bottom: #DFE0EB 2px solid;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.inputsContenedor {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 87%;
    height: 100px;
    font-weight: bold;
    align-items: center;
    background-color: #fff;
    border-top: var(--p700) 8px solid;
    border-left: #DFE0EB 2px solid;
    border-right: #DFE0EB 2px solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.contenedorMedio {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 87%;
    height: 100px;
    font-weight: bold;
    align-items: flex-end;
    background-color: #fff;
    border-left: #DFE0EB 2px solid;
    border-right: #DFE0EB 2px solid;
}

.contenedorMedio p {
    font-size: 1.4rem;
    padding-left: 50px;
}

.inputsContenedor p {
    font-size: 1.4rem;
    padding-left: 50px;
}

.setOfInputs {
    display: flex;
    width: 83%;
    justify-content: space-around;
    padding-right: 40px;
}

.stripBotones {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 70%;
}

.stripBotones button {
    height: 5vh;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: transparent;
}

.separatorButton {
    width: 10px;
}

.guardarProgreso {
    background-color: var(--p800);
}

.enviar {
    background-color: var(--p1000);
}

.elementoInput {
    height: 30px !important;
}

.alinearDer {
    display: flex;
    align-items: center;
    margin-right: -10px;
    flex-direction: row;
    justify-content: flex-end;
}

.alinearIzq {
    display: flex;
    align-items: center;
    margin-left: -10px;
    flex-direction: row;
    justify-content: flex-start;
}

.spanTotalGris p::after {
    color: var(--n600);
    font-size: 0.8rem;
    content: "   (éste se calcula automáticamente).";
}

.Total {
    background-color: var(--p300);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 94%;
}

.inputsTotal {
    opacity: 1;
    transition: opacity 5s ease-in-out;
    animation: fade-in 5000ms forwards;
    display: flex;
    background-color: var(--p300);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 92%;
    padding-right: 2%;
    padding-bottom: 20px;
    margin-top: -6px;
}

.inputsTotal .input input {
    border-color: var(--p1000);
}

.inputsTotal .input label p {
    color: var(--n600);
    font-weight: bold;
}

.sangriaPestanaa {
    width: 90px;
}