.cont-tabla{
    background-color: #FFF;
    margin-top: 2rem;
    width: 80%;
    box-sizing: border-box;
    margin-bottom: 10rem;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    box-shadow: 4px 11px 28px rgba(0, 0, 0, 0.08);
    margin: auto;
    margin-bottom: 10rem;
}

.header-tabla{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    height: 4rem;
    padding: 0rem;
    margin-bottom: 2rem;
}

.busc-tabla{
    width: 100%;
    font-family: 'Inter';
    background-color: unset;
    border-style: solid;
    border-color: var(--n300);
    border-radius: 8px;
    font-weight: 300;
    padding: 0.5rem;
}

.busc-tabla:focus{
    border: none;
    outline: 3px solid var(--p300);
}

.filtros-tabla{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
   
}


.btn-lista{
    border: none;
    background-color: var(--p600);
    font-weight: 600;
    border-radius: 5px;
    color: var(--blanco);
    padding: 0.5rem 2rem;
}