.containerGraficas{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    margin-top: 5rem;
    align-items: center;
}
.titulo{
    font-weight: normal;
    color: var(--negro);
    margin: 0;
}
.mybody{
    background:"#F8F8F8";
    font-family: "Inter", sans-serif;
}
.myhr{
    border: 1.5px solid;
    width: 60%;
    color: #817C7C;
}
.division{
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.mycard {
    padding: 75px;
    margin-top: 54px;
    margin-bottom: 54px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 65%;    
}
.embarques{
    display: flex;
    flex-direction: row;
}