.custom-button {
    background-color: #575353;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 1.1rem;
    text-align: center;
    width: 10vw;
    min-height: fit-content;
    height: 3rem;;
}

.button-text {
    display: block;
    font-family: 'inter';
}

.button-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabeza {
    padding-left: 3vw;
    padding-right: 1vw;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.turno {
    font-weight: 660;
    color: #4D4A4A;
    font-size: 30px;
    font-family: 'inter';
}

.tablona {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
    font-family: 'inter';
}

.tablona th,
.tablona td {
    padding: 8px;
    text-align: center;
    border: 5px solid;
    border-color: #FAD3BA;
    font-size: 20px;
}

.tablona span {
    color: black;
    font-weight: 1;
    display: grid;
    justify-items: center;
    font-size: 16px;
}

.tablona td {
    font-weight: 340;
    font-size: 20px;
}

hr {
    border: 1.5px solid;
    width: 97%;
    color: #B4B1B1;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}